.ideas {
    margin: 0px 379px;
    padding-bottom: 99px;
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 29px;
    }

    &__row {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;
    }

    &__card {

        &-title {
            font-weight: 700;
            font-size: 24px;
            line-height: 38px;
        }

        &-time {
            display: flex;

            &--item {
                display: inline-block;
                padding: 0px 10px;
                margin: 10px 0px;
            }
            
            &--item:nth-child(2) {
                border-left: 1px solid #707070;
                border-right: 1px solid #707070;
            }

        }

    }
}